@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>


<body>
<a href="@Url.Action("Index", "Filters")">Перейти к фильтрам</a>
<a href="@Url.Action("FilterPage", "Filters")">Перейти к фильтрам</a>
<a href="@Url.Action("AddMail", "Filters")">Перейти к фильтрам</a>



  
  

</body>

</html>
